<p class="lead">
  <%= @question.body %>
  <!-- show an edit button if user is a mebmer of the site -->
  <% if policy(@question).edit? %>
    <%= link_to "Edit", edit_topic_question_path(@topic, @question),  class: 'btn btn-success btn-xs', remote: true %>
  <% end %>
</p>