<% if @question.destroyed? %>
$('#questions-' +<%= @question.id %>).fadeOut( "slow", function() {});
<% else %>
$('#questions-' +<%= @question.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>