<h1><%= @question.title %></h1>

<% if policy(@question).edit? %>
  <%= link_to "Edit", edit_topic_question_path(@topic, @question), class: 'btn btn-success' %>
<% end %>

<p><%= @question.body %></p>