@import "bootstrap";

/*QUESTIONS */

.question-added-section {
  color: #999;
  font-size: .95em;
  padding-bottom: 2px;
}


/*ANSWERS*/

//answers lead for answers count on question.show
.answers-lead {
  border-top: 1px solid #999;
  border-bottom: 1px solid #BABABA;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}

.answer-feed-info{
padding-bottom: 20px;
border-bottom: 1px solid #DDD;
}

// hide items on page
.hide {
  display: none;
}

//answer links follow share section
.answer-links {
  font-style: italic;
  color: #999;
}

/*VOTES*/

//answer_votes (see answer_votes/voter.html.erb)

.vote-arrows {
  width: 30px;
  text-align: center;
  background-color: #F3F3F3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding:5px;
  &:hover {
    background-color: #EEEEEE;
  }
}

.vote-names{
  color: #999999;
  font-size: .9em;
  font-style: italic;
}