@import "bootstrap";

/*QUESTIONS */
//singles out each individual question
.each-question {
  padding: 20px 0;
  border-bottom: 1px dotted #BABABA;
}

.ask-question {
  margin-bottom: 70px;
}

.ask-question-form {
  padding: 20px;
  //margin-bottom: 50px;
  background-color: #EBEBEB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.question-title-space{
  margin-top: 4px;
}

.question-added-section {
  color: #999;
  font-size: .95em;
  padding-bottom: 2px;
}
.question-body {
  a {
    color: #999;
    border-bottom: 1px dashed #999;
    &:hover{
     color: #BABABA;
     border-bottom: 1px dashed #BABABA;
   }
   &:active{
     color: #BABABA;
     border-bottom: 1px dashed #BABABA;
   }
 }
}

/*ANSWERS*/

//answers lead for answers count on question.show
.answers-lead {
  border-top: 1px solid #999;
  border-bottom: 1px solid #BABABA;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}

.answer-feed-info{
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}

// hide items on page
.hide {
  display: none;
}

//answer links follow share section
.answer-links {
  font-style: italic;
  color: #999;
}

/*VOTES*/

//answer_votes (see answer_votes/voter.html.erb)

.vote-arrows {
  width: 30px;
  text-align: center;
  background-color: #F3F3F3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding:5px;
  &:hover {
    background-color: #EEEEEE;
  }
}

.vote-names{
  color: #999999;
  font-size: .9em;
  font-style: italic;
}


/*BOOTSTRAP X-EDITABLE TWEAKS*/
a.editable-pre-wrapped {
white-space: normal;
}

.editable-click {
  border-bottom: 1px dashed #BABABA;
  &:hover{
    cursor: pointer;
  }
}

/*IMAGES*/
.answer-image{
  margin-left: 10px;
}

.tiny-thumbnail{
padding: 2px;
border: 1px solid #dddddd;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
}
